[Desktop Entry]
Name=Corevantage
StartupWMCLass=Corevantage
Exec=/usr/bin/corevantage
Icon=corevantage
Type=Application
Categories=Settings;System
Comment=A graphical interface to set options on devices with coreboot firmware.
Keywords=Coreboot;BIOS
